<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.aleksandermielczarek.contactpicker">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name=".ui.contacts.ContactsActivity_"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
